* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
#share-btn {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    width: 100px;
    height: 25px;
    color: white;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    margin: 15px;
}
.logo-share{
    padding-top: 3px;
}
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    border: 2px solid lightgray;
    border-radius: 10px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid lightgray;
}

.logo-data {
    display: flex;
}

.logo {
    display: inline-block;
    margin-right: 5px;
    padding-top: 10px;
    box-sizing: border-box;
}

.sub-line {
    color: gray;
    font-size: 0.9em;

}

.sub-container {


    padding: 0 5px;
    box-sizing: border-box;
}

.input-main-box {
    text-align: center;
}

.input-box {
    margin: 10px 0 10px 0;
    width: 82%;
    height: 35px;
    padding: 0 15px;
    box-sizing: border-box;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.invite-btn {
    width: 100px;
    height: 30px;
    border: 1px solid lightgrey;
    box-sizing: border-box;
}

.learn-more {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    color: gray;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 0px 0px 10px 10px;
    padding: 5px;
    box-sizing: border-box;

}

.toggle-content {
    color: gray;
}

.toggle-content div {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.shared-users {
    padding: 5px;
}

.single-user {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

}

.dropdown {
    background-color: white;
    border: 1px solid white;
}

.link {
    color: black;
    font-size: 0.9em;
    font-weight: 600;
    padding-bottom: 5px;
}
.copylink{
    border:1px solid lightgray;
    margin-top: 5px;
    border-radius: 5px;
}
.share-icon{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}